/* @tailwind base;
@tailwind components; */
/* @tailwind utilities; */
/* need PostCSS Language Support to remove warnings */
@import "tailwindcss";

body {
    @apply bg-gray-100 text-gray-700;
    font-family: "Rubik";
}
h1 {
    @apply text-2xl font-bold text-red-500;
}
h2 {
    @apply text-xl font-bold my-4;
}
h3 {
    @apply text-lg font-bold my-4;
}
ul {
    @apply my-10;
}
p {
    @apply my-2;
}

/* header */
header {
    @apply bg-white;

    nav {
        @apply flex items-center gap-5 max-w-5xl px-5 py-4 mx-auto bg-orange-300;
    }
    h1 {
        @apply mr-auto;
    }
}


/* form elements */
form {
    @apply max-w-screen-sm;
}
input,
select,
textarea {
    @apply block w-full mt-2 mb-4 p-2;
}

/* custom classes */
.container {
    @apply max-w-5xl  mx-auto px-12 py-8;
}
.card {
    @apply bg-white rounded border border-gray-200 px-0 py-3 my-4 flex justify-between ;
}
.highlight {
    @apply border-l-4 border-l-red-500;
}
.btn {
    @apply rounded px-3 py-2 bg-gray-200 hover:bg-red-500 hover:text-white;
}
.btnsmall{
       @apply  rounded-xl bg-blue-500 inline-flex items-center text-white px-5 py-2  shadow-md hover:shadow-lg transition
}
.btngreen{
       @apply  rounded-xl bg-green-500 inline-flex items-center text-white px-5 py-2  shadow-md hover:shadow-lg transition
}
.btnyellow{
       @apply  rounded-xl bg-yellow-400 inline-flex items-center text-white px-5 py-2  shadow-md hover:shadow-lg transition
}
.btnred{
       @apply  rounded-xl bg-red-500 inline-flex items-center text-white px-5 py-2  shadow-md hover:shadow-lg transition
}
.btngray{
     @apply  rounded-xl bg-gray-700 inline-flex items-center text-white px-5 py-2  shadow-md hover:shadow-lg transition
}
